<% include ./partials/header %>
<h1>Oluf Graversvejs Kontorfællesskab</h1>

<p>Vi tilbyder kontorpladser til kreative selvstændige i åbne og lyse lokaler midt i København N.

<br>Lejere har adgang til
<br>* egen kontorplads i et åbent miljø
<br>* mødelokale med videokonferencefaciliteter (bookes efter aftale)
<br>* printer og kopimaskine
<br>* fiber internet forbindelse
<br>* frokoststue med lille køkken og køleskab
<br>* badeværelse og omklædningsrum

<br>I kælderen er der desuden mulighed for at parkere cykler.

<br>Ring til os og hør nærmere om mulighederne og lejepriser.</p>